
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Buycoins Recurring Purchase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main>
    <header>
        <h1>Buycoins Recurring Purchase</h1>
        <a href="/setup">Want to start your own?</a>
    </header>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</main>


<script src="/js/script.js"></script>

</body>
</html>