
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Setup | Buycoins Recurring Purchase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<main>
    <header>
        <h1>Buycoins Recurring Purchase</h1>
        <a href="/">Back home</a>
    </header>
    <p>Hello</p>

    
</main>


<script src="/js/script.js"></script>

</body>
</html>