:root {
    --color-primary: #966FDB;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300;
    background-color: #f2f5f8;
    color: rgb(50,50,50);
}

/* Typography */

h1 {
    color: #000;
    font-weight: 500;
}

h1 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

h2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    text-transform: lowercase;
}

h3 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
    text-transform: lowercase;
}

h2::before,
h3::before {
    content: "";
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background-color: var(--color-primary);;
}

p {
    display: block;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

code {
    background-color: #fff;
    border: 1px solid #ececec;
    padding: 0 0.3em;


}

/* Layout */

.container {
    width: 90%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

header {
    background-color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (min-width: 700px) {
    main {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

header {
    margin-bottom: 30px;
}

section {
    margin-bottom: 40px;
}

p img {
    margin: 1em 0;
}

/* Table */

table {

    background-color: #fff;


    border: 1px solid #ececec;
    width: 100%;
    text-align: left;

}

table thead {
    border-bottom: 1px solid #ececec;
}

table td {
    text-align: left;
}

table th,
table td {
    padding: 10px;
}

table th:first-of-type,
table td:first-of-type {
    padding-left: 20px;
}

table th:last-of-type,
table td:last-of-type {
    padding-right: 20px;
}

table tr.footer {
    background-color: #f2f5f8;
    font-weight: 500;
}

/* Form */

form {
    margin: 1em 0 2em;
}

form label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5em;
}

form input,
form button {
    height: 50px;
    font-weight: 300;
    padding: 0 1em;
}


/* Other */

details {
    margin-bottom: 10px;
}

details summary {
    margin-bottom: 1em;
    font-weight: 500;
    cursor: pointer;
}

details > div {
    padding-left: 15px;
    margin-bottom: 30px;
}


ul {
    list-style-type: disc;
    list-style-position: inside;
}
