:root {
    --color-primary: #966FDB;
    --color-bg: #f2f5f8;
    --color-border: #ececec;

    --fw-normal: 400;
    --fw-bold: 600;

    --container-width: 700px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: var(--fw-normal);
    background-color: var(--color-bg);
    color: rgb(90,90,90);
}

/* Typography */

h2 {
    color: #000;
    font-weight: var(--fw-bold);
    font-size: 1.8rem;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

h3 {
    color: #000;
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

p {
    display: block;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

code {
    background-color: #fff;
    border: 1px solid var(--color-border);
    padding: 0 0.3em;


}

/* Layout */

.container {
    width: 90%;
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
}

.card {
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 20px;
}

#site-header {
    border-bottom: 1px solid var(--color-border);
    padding: 20px 0;
    margin-bottom: 30px;
}

#site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (min-width: 700px) {
    main {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

section {
    margin-bottom: 40px;
}

p img {
    margin: 1em 0;
}

/* Table */

table {
    width: 100%;
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;

    background-color: transparent;
    width: 100%;
    text-align: left;
}

table thead {
    border-top: 1px solid var(--color-border);
    font-weight: var(--fw-bold);
    color: #000;
}

table tr {
    border-bottom: 1px solid var(--color-border);
}

table td {
    text-align: left;
}

table th,
table td {
    padding: 20px 10px;
}

table th:first-of-type,
table td:first-of-type {
    padding-left: 20px;
}

table th:last-of-type,
table td:last-of-type {
    padding-right: 20px;
}

@media (max-width: 600px) {

    .column-cost {
        display: none;
    }

}

/* Form */

form {
    margin: 1em 0 2em;
}

form label {
    display: block;
    font-weight: var(--fw-bold);
    margin-bottom: 0.5em;
}

form input,
form button {
    height: 40px;
    padding: 0 1em;
    border-radius: 5px;
}

form input {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    font-weight: var(--fw-normal);
}

form button {
    border: 1px solid var(--color-primary);
    background-color: #fff;
    color: var(--color-primary);
    font-weight: var(--fw-bold);
    cursor: pointer;
}


/* Other */

details {
    margin-bottom: 10px;
}

details summary {
    margin-bottom: 1em;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

details > div {
    padding-left: 15px;
    margin-bottom: 30px;
}


ul {
    list-style-type: disc;
    list-style-position: inside;
}
